<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Plano Cartesiano de Tarefas</title>
    <link rel="icon" href="/static/images/icone.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo ao <a>Gerador de Plano Cartesiano</a></h1>
    <div class="upload-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <!-- Botão customizado com span para exibir o nome do arquivo -->
            <label class="custom-file-upload">
                <input type="file" id="file" name="file" accept=".xlsx" required>
                <span id="file-name">Selecione o arquivo Excel</span>
            </label>
    
            <label for="tarefas">Nome da coluna de Tarefas:</label>
            <input type="text" id="tarefas" name="tarefas" placeholder="Ex: tarefas" required>
    
            <label for="urgencia">Nome da coluna de Urgência:</label>
            <input type="text" id="urgencia" name="urgencia" placeholder="Ex: urgência" required>
    
            <label for="importancia">Nome da coluna de Importância:</label>
            <input type="text" id="importancia" name="importancia" placeholder="Ex: importância" required>
            
            <button type="submit">Gerar Gráfico</button>
        </form>
    </div>
    
    <!-- Inclua esse script antes de fechar a tag </body> -->
    <script>
        const fileInput = document.getElementById('file');
        const fileNameSpan = document.getElementById('file-name');
        
        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                // Pega o nome do arquivo selecionado
                fileNameSpan.textContent = fileInput.files[0].name;
            } else {
                fileNameSpan.textContent = "Selecione o arquivo Excel";
            }
        });
    </script>    
</body>
</html>
